body {
	background-image: url("https://www.walldevil.com/wallpapers/a72/wallpaper-reddit-fastu.jpg");
	font-family: 'Eagle Lake', cursive;
}

.jumbotron {
	opacity: 15%;
	background-image: url("http://vignette3.wikia.nocookie.net/gameofthrones/images/9/93/King%27s_Landing.jpg/revision/latest?cb=20110705175704");
	margin-top: 200px;
	font-family: 'Eagle Lake', cursive;

}

